<div>
  <%= link_to "Edit this brand", edit_line_brand_path(@line, @brand) %> |
  <%= link_to "Back to line", line_path(@line) %>

  <%= button_to "Destroy this brand", line_brand_path(@line, @brand), method: :delete %>
</div>

<p style="color: green"><%= notice %></p>

<%= render @brand %>

<% if @products.empty? %>
  <p>No products yet.</p>
<% else %>
  <% @products.each do |product| %>
    <%= render product  %>
    <p>
      <%= link_to "Show this product", line_brand_product_path(@line, @brand, product) %>
    </p>
  <% end %>
<% end %>

<%= link_to "New product", new_line_brand_product_path(@line, @brand) %>
