<p style="color: green"><%= notice %></p>

<%= render @brand %>

<div>
  <%= link_to "Edit this brand", edit_line_brand_path(@line, @brand) %> |
  <%= link_to "Back to line", line_path(@line) %>

  <%= button_to "Destroy this brand", [@line, @brand], method: :delete %>
</div>
