<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Edit this product", edit_line_brand_product_path(@line, @brand, @product) %> |
  <%= link_to "Back to products", line_brand_path(@line, @brand) %>

  <%= button_to "Destroy this product", line_brand_product_path(@line, @brand, @product), method: :delete %>
</div>
